.review-content, .review-options{
    padding: 15px 20px;
}
.review-picture {
    width: 8%;
    padding: 10px;
}
.review-image{
    width: 100%;
}
.car-show-info{
    color: black;
    margin: 30px;
}
.car-show-image {
  padding: 0px;
  width: 50%;
  margin: 0px;
  radius: 5px;
}
.car-info{
    color: black;
}
.car-show-info-details{
    color: black;
    margin: 30px;
}
.car-info-details{
    color: black;
}
.booking-form-show {
  margin-top:  100px;
  margin-right: 30px;
}
.form-inputs-show {
  width: 330px;
  margin-right: 25px;
}
.card-information-show-car {
  align-items: center;
  justify-content-center: center;
  height: 80%;
  width: 95%;
  border: none;
  border-radius: 15px;
  background-color: #1E5F72;
  margin-left: 26px;
  margin-bottom: 20px;
}
.card-information-show-car p {
  color: white;
  font-size: 18px;
}
.car-show-font h1, h2 {
  font-family: Oxanium;
}