.flex-container {
  width:100vw;
  height:90vh;
  display:flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  background-image: url(asset_path('home_background.jpg'));
  background-size: cover;
  opacity: 0.9;
}

.banner {
  width: 30%;
  height: 30%;
  margin-left: 30px;
}

.search-form {
  width:30%;
  margin-top: 20px;
}

.search-input {
  width: 400px;
}

.search-form-control {
  position: relative;
}

.search-form-control .form-control:focus {
  outline: none !important;
}

 .yellow {
  color: #e4e814;
 }

.text-center {
  font-family: Oxanium;
}

.search-choices {
  display: block !important;
}

.search-choices-background {
  background: #ffffff !important;
  border-radius: 4px !important;
}

.search-choice-margins {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.search-choice-bar {
  position: relative !important;
  z-index: 1 !important;
}

.search-choice-title {
  overflow-wrap: break-word !important;
  font-family: 'Titillium Web', 'Times New Roman', Times, serif ;
  margin-left: 20px;
  font-size: 12px !important;
  font-weight: 800 !important;
  line-height: 1.33333em !important;
  letter-spacing: 0.0833333em !important;
  color: rgb(72, 72, 72) !important;
  margin: 0px !important;
}

.src-animate-center {
  width: 180px;
  height: 40px;
}

.click-dark-home {
  color: black;
  padding: 7px 32px;
  font-size: 16px;
  font-family: 'Titillium Web', 'Times New Roman', Times, serif ;
  cursor: pointer;
  background: transparent;
  border: 1px solid black;
  outline: none;
  transition: 0.3s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 0.3s;
}


.click-dark-home:hover {
  transition: 0.3s;
  background: black;
  color: white;
}

.click-dark-home:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

