.review-content, .review-options{
    padding: 15px 20px;
}

.review-picture {
    width: 8%;
    padding: 10px;
}

.review-image{
    width: 100%;
}

.car-show-info{
    color: black;
    margin: 30px;
}

.car-info{
    color: black;
}


.car-show-info-details{
    color: black;
    margin: 30px;
}

.car-info-details{
    color: black;
}
