.review-content, .review-options{
    padding: 15px 20px;
}

.review-picture {
    width: 8%;
    padding: 10px;
}

.review-image{
    width: 100%;
}

.car-show-info{
    color: black;
    height: 100vh;
}

.car-info{
    color: black;
}