<h1>Bookings</h1>
<% @bookings.each do |booking| %>
    <h5><%= booking.car.show %></h5>
    <p><%= booking.car.price %></p>
    <%= link_to "See more", booking_url(booking) %>
    <br></br>
<% end %>


