<h1>Caroo</h1>

<p>View and Search Cars</p>

<%= form_tag cars_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "search_input",
    placeholder: "Find your brand or model"
  %>
  <%= button_tag(type: "submit", class: "btn btn-primary") do %>
    <i class="fas fa-search"></i>
  <% end %>
<% end %>
