.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(128, 110, 110, 0.2);
  display: flex;
  align-items: center;
}

.card-product.bookings-element {
  margin: 5% 0;
  height: 188px;
}

.bookings-element h5{
  font-family: 'Titillium Web', 'Times New Roman', Times, serif ;
  font-size: 30px;
}

.book-info{
  padding: 0 5%;
}

.card-product img {
  height: auto;
  width: 250px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 64px;
  display: grid;
  text-content: left;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: text 3.0s ease;
}


.btn-animate {
  text-decoration: none;
  text-align: right;
  color: white;
  margin: 15px;
}


.card-center {
  border-radius: 15px;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  background:linear-gradient(160deg, white 70%, white, #EA3223, #EA3223 70%);
}


