<%= simple_form_for [ @car, @review ] do |f| %>
<div class="form-inputs col-md-4 offset-md-4">
  <%= f.input :rating, placeholder: 'How many stars?' %>
  <%= f.input :content, placeholder: 'Leave a review' %>
  <%= f.submit "Post your review", class: "btn btn-primary" %>
</div>
<% end %>
